/* 基础重置 */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f4f9;
    line-height: 1.6;
}

/* 头部 */
header {
    background: linear-gradient(120deg, #009fff, #ec2f4b);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    position: relative;
    inline-size: fit-content;
    margin: 0 auto;
    padding-bottom: 20px;
}

header h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 3px;
    background: white;
    transform: translateX(-50%);
}



/* 导航 */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

/* 主内容区 */
main {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* 页脚 */
footer {
    background-color: #222;
    color: #aaa;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* 列表样式 */
.project-list li {
    background: #e9ecef;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


/* 图片风格 */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* 联系我们样式 */
.contact-info {
    margin: 20px 0;
    line-height: 1.6;
}

/* 主要区域布局 */
.main-content {
    display: flex;
    justify-content: space-between;
}

/* 公司简介样式 */
.company-info {
    width: 30%;
    padding: 20px;
}

/* 幻灯片样式 */
.slider {
    width: 70%;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    display: block;
    transition: opacity 1s ease-in-out;
    opacity: 0;  /* 初始设为不可见，防止加载时的跳动 */
}

.slider img.active {
    opacity: 1;  /* 当图片为活动图片时显示 */
}

/* 调整flex布局下的项目对齐问题 */
.main-content > * {
    align-self: center;
}


/* 项目列表样式 */
.project-list {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.project-list li {
    background: #f8f9fa;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.project-list li:nth-child(odd) {
    background: #e9ecef;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: #fff;
    }

    .main-content, .company-info, .slider {
        width: 100%;
        padding: 10px;
    }

    nav a {
        display: block;
        margin-bottom: 10px;
    }
}

nav a.active {
    color: #4CAF50;  /* 使用明亮的绿色来标示活动链接，你可以选择适合你网站风格的颜色 */
    font-weight: bold;  /* 可选，增加字体的粗细以提高可读性 */
}



